@using ToDoHTML.Models
@using ToDoHTML.Extensions
@model List<Task>

<h1><b>Список дел</b></h1>

@Html.ActionLink("Добавить запись", "Create", "Tasks")

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Важность
            </th>
            <th>
                Тема(ы)
            </th>
            <th>
                Задача
            </th>
            <th>
                День недели
            </th>
            <th>
                Исполнитель
            </th>
            <th>
                Фото исполнителя
            </th>
            <th>
                Действия
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
        <tr>
            <td>
                @task.Importance.GetDisplayValue()
            </td>
            <td>
                @string.Join(", ", task.Topics.Select(x => $"{x.Name}"))
            </td>
            <td>
                <a href="/Tasks/Detail/@task.Id">@task.Name</a>

            </td>
            <td>
                @string.Join(", ", task.DayOfWeeks.Select(x => $"{x.DayOfWeekName}"))
            </td>
            <td>
                @task.Performer.Name
            </td>
            <td>
                <img src="/Performers/GetImage/@task.PerformerId" style="max-width: 50px; max-height: 100px;" />
            </td>
            <td>
                @Html.ActionLink("Удалить", "Delete", "Tasks", new { id = task.Id }, new { })
                @Html.ActionLink("Изменить", "Edit", "Tasks", new { id = task.Id }, new { })
            </td>
        </tr>
        }
    </tbody>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<footer>
    <dl>
        <dt>Дополнительная информация:</dt>
    </dl>
    <ol type="I">
        <li><h6><i>Данная работа сделана в ознакомительных целях</i></h6></li>
        <li><h6><i>Все люди вымышлены, а совпадения случайны</i></h6></li>
    </ol>  
        
</footer>